html {
  box-sizing: border-box;
  font-family: Lato;
}


/* Added a sidebar to provide access to blog, resume, and services */
.sidenav {
  height: 100%; 
  width: 167px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(131, 114, 127); 
  overflow-x: hidden; 
  padding-top: 15xczxpx;
  font-family: Lato;
  color: #ffffff;
}

.sidenav a {
  padding: 4px 6px 4px 8px;
  font-size: 28px;
  color: #ffffff;
  display: block; 
}

/* Added side navigation for additional resources */
.sidenav a:hover {
  color: #000000;
}



/* Adjusted height of the style of the sidebar for viewing on smaller screens*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 14px;}
  .sidenav a {font-size: 14px;}
}


/* Changed colors for easier viewing */
.card {
  overflow: hidden;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 10 10px 12px;
  color: rgb(255, 255, 255);
}

.card-body {
  padding: 10rem 5rem;
}

.card-title {
  margin: 0;
  padding: .3rem 2rem;
  border: rgb(120, 120, 129);
}

.card-label {
  padding: .1rem 2rem .3rem calc(1rem - 4px);
  border-right: 10px solid rgb(185, 185, 182);
  background-color: rgba(241, 205, 205, 0.2);
}

.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.card {
  padding: 8px;
  text-align: center;
  background-color: #e7cad0cb;
}
